:root {
  --my-dark: #7743db;
  --my-mid: #c3acd0;
  --my-light: #f7efe5;
  --my-bg: #fffbf5;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--my-bg);
}

video {
  width: 500px;
}

.modal-body img {
  height: 100%;
}

.image-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loader {
  display: none;
  /* width: 5rem; */
  /* height: 5rem; */
}

.htmx-request .loader {
  display: block;
}

.htmx-request.loader {
  display: block;
}

/* Hide previously loaded content during HTMX request */
.htmx-request .loaded-content {
  display: none;
}

.htmx-request.loaded-content {
  display: none;
}

h1,
h2,
h3 {
  color: var(--my-dark);
}
.list-group-item.active {
  background-color: var(--my-mid);
  border-color: var(--my-mid);
}
.list-group {
  --bs-list-group-action-hover-bg: var(--my-light);
}
.list-group-item {
  color: var(--my-dark);
}

.img-thumbnail {
  border-color: var(--my-mid);
  background-color: var(--my-mid);
}

.border {
  border-color: var(--my-mid);
}

.active.page-link {
  background-color: var(--my-mid);
  border-color: var(--my-mid);
}

.page-link {
  color: var(--my-dark);
}

.page-link:hover {
  background-color: var(--my-light);
  color: var(--my-dark);
}
.list-group-item-action:hover {
  color: var(--my-dark);
}

.badge {
  color: var(--my-dark);
  background-color: var(--my-mid);
}

.active > .badge {
  background-color: var(--my-light);
}

.has-vid {
  background-color: var(--my-dark);
}

.text-bg-secondary {
  color: var(--my-light);
  background-color: var(--my-dark);
}

.progress-bar {
  background-color: var(--my-dark);
}

/* .display-1 { */
/*     border-bottom: 20px solid var(--my-dark); */
/*     display: inline-block; */
/* } */
#display-1-progress {
    margin-top: -10px;
}

.progress {
    border-radius: unset;
    background-color: var(--my-light);
}
