/* .list-group{ */
/*     max-height: 300px; */
/*     margin-bottom: 10px; */
/*     overflow:scroll; */
/*     -webkit-overflow-scrolling: touch; */
/* } */

/* :root { */
/*   --main-bg-color: #EEEEEE; */
/*   --c1: #64CCC5; */
/*   --c2: #176B87; */
/*   --c3: #053B50; */
/* } */
:root {
  --c1: #F7EFE5;
  --c2: #7743DB;
  --c3: #C3ACD0;
  --main-bg-color: #FFFBF5;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--main-bg-color);
}

video {
    width: 500px;
}

.modal-body img {
    height: 100%
}

.image-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loader {
    display: none;
    /* width: 5rem; */
    /* height: 5rem; */
}

.htmx-request .loader {
    display: block;
}

.htmx-request.loader {
    display: block;
}

/* Hide previously loaded content during HTMX request */
.htmx-request .loaded-content {
    display: none;
}

.htmx-request.loaded-content {
    display: none;
}

h1, h2, h3 {
    color: var(--c2);
}
.list-group-item.active {
    background-color: var(--c3);
    border-color: var(--c3);
}
.list-group {
    --bs-list-group-action-hover-bg: var(--c1);
}
.list-group-item {
        color: var(--c2);
    }

.img-thumbnail {
    border-color: var(--c3);
    background-color: var(--c3);
}

.border {
    border-color: var(--c3);
}

.active.page-link {
    background-color: var(--c3);
    border-color: var(--c3);
}

.page-link {
    color: var(--c2);
}

.page-link:hover {
background-color: var(--c1);
color: var(--c2);
}
.list-group-item-action:hover {

color: var(--c2);
}
