{{ define "folders" }} {{ if .Timelapses }}
<div class="list-group">
  {{ range $i, $a := .Timelapses }}
  <button
    type="button"
    hx-get="/clicked/{{$a.FolderName}}"
    hx-on:htmx-after-on-load="let currentTab = document.querySelector('[aria-current=true]');
                               currentTab?.setAttribute('aria-current', 'false')
                               currentTab?.classList.remove('active')
                               let newTab = event.target
                               newTab.setAttribute('aria-current', 'true')
                               newTab.classList.add('active')"
    hx-indicator=".loader,#current_tl"
    hx-target="#current_tl"
    class="list-group-item list-group-item-action"
    aria-current="false"
  >
    {{ .FolderName }}
  </button>
  {{ end }}
</div>
{{ else }}
<span> No timelapses created yet</span>
{{ end }} {{ end }}
