{{ define "folders" }} {{ if .Timelapses }}
<ul class="list-group mb-3" >
  {{ range $i, $a := .Timelapses }}
  <li
    hx-get="/clicked/{{$a.FolderName}}"
    {{/* hx-sync here will make sure we do not issue multiple of the request */}}
    hx-sync=".list-group-item-action:replace"
    hx-on:htmx-after-on-load="let currentTab = document.querySelector('[aria-current=true]');
                               currentTab?.setAttribute('aria-current', 'false')
                               currentTab?.classList.remove('active')
                               let newTab = event.target
                               newTab.setAttribute('aria-current', 'true')
                               newTab.classList.add('active')"
    hx-indicator=".loader,#current_tl"
    hx-target="#current_tl"
    class="list-group-item list-group-item-action"
    aria-current="false"
  >
    {{ .FolderName }}
    <span class="position-relative badge rounded-pill">
    {{ if .HasTimelapseVideo }}
        <span class="position-absolute top-0 start-100 translate-middle p-2 border border-light rounded-circle has-vid">
  </span>
    {{ end }}
        {{ .NumberOfSnaps }}</span>
  </li>
  {{ end }}
</ul>
{{ else }}
<span> No timelapses created yet</span>
{{ end }} {{ end }}
