<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Timelapse Serial</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <img src="" height="100%" />
    <div class="container">
      {{ if .LiveFeedURL }}
      <div class="row mt-2 mt-md-5">
        <div class="col">
          <img
            id="live-feed"
            class="img-fluid object-fit-cover border rounded"
            src="{{ .LiveFeedURL }}"
          />
        </div>
      </div>
      {{ end }}
      <div class="row mt-5">
        <h1>Timelapse Folders</h1>
          <div class="row">
        <div id="folders" class="col-12 col-sm-3">
          {{ template "folders" . }}
        </div>
          </div>
          <div class="row">
              {{ template "folder_nav" . }}
          </div>
      </div>

      <div class="row mt-5 mb-5">
        <h1>Snapshots</h1>
        <div class="d-flex justify-content-center">
          <span class="loader spinner-border" role="status"></span>
        </div>
        <div class="loaded-content" id="current_tl">
          {{ template "snaps" . }}
        </div>
      </div>
    </div>

    <script src="/assets/script.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
