{{ define "modal" }}
<div class="modal-dialog modal-dialog-centered modal-fullscreen">
  <div class="modal-content">
    <div class="modal-body">
      <img class="object-fit-scale border rounded position-absolute top-0 start-50 translate-middle-x img-fluid" src="/serve/{{.ImgPath}}" />
    </div>
    <div class="position-relative">
      <button type="button" class="btn btn-secondary position-absolute bottom-0 end-0" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
{{end}}
